<div class="modal__head">
    <div class="tab tab__horizontal">
        <ul class="tab__bar">
            <li class="tab__item">
                <button class="tab__button">
                    <span class="tab__button-text">이력</span>
                </button>
            </li>
            <li class="tab__item tab__item--selected">
                <button class="tab__button">
                    <span class="tab__button-text">분석 템플릿</span>
                </button>
            </li>
        </ul>    
    </div>
</div>