<section class="modal-footer">
    <div class="pagination">
        <button class="pagination__button button button--link">
            <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-double-left-medium"></use>
            </svg>  
        </button>
        <button class="pagination__button button button--link">
            <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-left-medium"></use>
            </svg>  
        </button>
        <ul class="pagination__list">
            <li class="pagination__item">
                <a href="#none" class="pagination__link">1</a>
            </li>
            <li class="pagination__item">
                <a href="#none" class="pagination__link">2</a>
            </li>
            <li class="pagination__item">
                <a href="#none" class="pagination__link">3</a>
            </li>
            <li class="pagination__item">
                <a href="#none" class="pagination__link">4</a>
            </li>
            <li class="pagination__item">
                <a href="#none" class="pagination__link">5</a>
            </li>
            <li class="pagination__item">
                <a href="#none" class="pagination__link">6</a>
            </li>
            <li class="pagination__item">
                <a href="#none" class="pagination__link">7</a>
            </li>
            <li class="pagination__item">
                <a href="#none" class="pagination__link">8</a>
            </li>
            <li class="pagination__item">
                <a href="#none" class="pagination__link">9</a>
            </li>
            <li class="pagination__item">
                <a href="#none" class="pagination__link">10</a>
            </li>
            <li class="pagination__item">
                <span class="pagination__ellipsis">...</span>
            </li>
            <li class="pagination__item">
                <a href="#none" class="pagination__link">20</a>
            </li>
        </ul>
        <button class="pagination__button button button--link">
            <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-double-right-medium"></use>
            </svg>  
        </button>
        <button class="pagination__button button button--link">
            <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-right-medium"></use>
            </svg>  
        </button>
    </div>
</section>