<!-- header -->
<header class="header">
  <div>
    <div class="top-bar">


      <!-- head -->
      <div class="top-bar__head">
        <h1 class="top-bar__logo">
          <svg class="svg-icon" aria-hidden="true">
            <use xlink:href="#iris-logo"></use>
          </svg>
        </h1>
        <span class="top-bar__title">Analyzer</span>
      </div>



      <!-- gnb -->
      <div class="gnb">
        <ul class="gnb__list">
          <li class="gnb__item">
            <button class="gnb__button button-base">
              <span class="button__text">검색</span>
            </button>
          </li>
          <li class="gnb__item">
            <button class="gnb__button button-base gnb__button--active">
              <span class="button__text">피벗</span>
            </button>
          </li>
          <li class="gnb__item">
            <button class="gnb__button button-base">
              <span class="button__text">시각화</span>
            </button>
          </li>
          <li class="gnb__item">
            <button class="gnb__button button-base">
              <span class="button__text">이상탐지</span>
            </button>
          </li>
        </ul>
      </div>


      <!-- toolbar -->
      <div class="top-bar__toolbar-list">
        <div class="top-bar__toolbar-item">
          <button class="top-bar__toolbar-button button">
            <svg class="svg-icon" aria-hidden="true">
              <use xlink:href="#help-outline"></use>
            </svg>
          </button>
        </div>
        <div class="top-bar__toolbar-item">
          <div class="select">
            <div class=" select-selector">
              <button class="top-bar__toolbar-button select-selector__button button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#global"></use>
                </svg>
                <span class="button__text">한국어</span>
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#chevron-down-medium"></use>
                </svg>
              </button>
            </div>            
            <div class="select-container">
              <ul class="select-container__list">
                <li class="select-container__item">
                  <button class="select-container__button select-container__subtext button-base">한국어</button>
                </li>
                <li class="select-container__item">
                    <button class="select-container__button select-container__subtext button-base">영어</button>
                </li>                    
              </ul>              
            </div>            
          </div>          
        </div>
        <div class="top-bar__toolbar-item">
          <button class="top-bar__toolbar-button button top-bar__toolbar-user">
            <span class="button__text">gildong</span>
            <svg class="svg-icon" aria-hidden="true">
              <use xlink:href="#app-switcher"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="breadcrumb">
      <span class="breadcrumb__text">피벗</span>
    </div>
  </div>
</header>
