<section class="body-main">
    <div class="main-head">
        <div class="main-head__title">
            <div class="main-head__container">
                <svg class="svg-icon main-head__icon" aria-hidden="true">
                    <use xlink:href="#data-model"></use>
                </svg>
                <span class="main-head__text">샘플_데이터_맵_03_Mesh</span>
            </div>            
            <div class="main-head__container toggle">
                <span class="toggle__text">샘플링</span>
                <div class="toggle-switch toggle-switch--sm">
                    <button class="toggle-switch__switch toggle-switch__switch--selected">
                        <span class="toggle-switch__handle">
                            <span class="ir-pm"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="main-head__container">
                <button class="button--link button--sm button--icon main-head__button">
                    <svg class="svg-icon main-head__icon" aria-hidden="true">
                        <use xlink:href="#next"></use>
                    </svg>
                </button>                
            </div>            
        </div>
        <ul class="main-head__menu">
            <li class="main-head__item">
                <button class="button button--icon button--tertiary">
                    <svg class="svg-icon main-head__icon" aria-hidden="true">
                        <use xlink:href="#to-other-chart"></use>
                    </svg>
                </button>
            </li>
            <li class="main-head__item">
                <button class="button button--icon button--tertiary">
                    <svg class="svg-icon main-head__icon" aria-hidden="true">
                        <use xlink:href="#tag"></use>
                    </svg>
                </button>
            </li>
            <li class="main-head__item main-head__item--selected">
                <button class="button button--icon button--tertiary">
                    <svg class="svg-icon main-head__icon" aria-hidden="true">
                        <use xlink:href="#report-tag"></use>
                    </svg>
                </button>
            </li>
            <li class="main-head__item">
                <button class="button button--icon button--tertiary">
                    <svg class="svg-icon main-head__icon" aria-hidden="true">
                        <use xlink:href="#open-new-tap"></use>
                    </svg>
                </button>     
            </li>                                       
        </ul>
    </div>
</section>