html,
body,
.layout-root,
.container,
.body {
  overflow: hidden;
  height: 100%;
}

.body {
  display: flex;
  justify-content: space-between;
}

//  panel 공통
.panel-wrap {
  width: 283px;
  height: 100%;
  background-color: $ui-01;
  position: relative;
  display: flex;
  flex-direction: column;
}
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.panel-head {
  background-color: $ui-04;
  .tab-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .tab__item {
    background-color: $ui-03;
    border-right: 1px solid $ui-04;
    .tab__button-text {
      color: $text-04;
    }
  }
  .tab__item--selected {
    background-color: $ui-01;
    .tab__button-text {
      color: $primary;
    }
  }
}
.panel-body {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  // flex-shrink: 1;
}

.panel-remove {
  position: absolute;
  top: 60px;
  width: 20px;
  height: 52px;
}
.panel-remove--right {
  right: -19px;
}
.panel-remove__button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $ui-04;
  background-color: $ui-02;
  border-radius: 0 2px 2px 0;
}
