.header {
  width: 100%;
}

// head
.top-bar {
  width: 100%;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 46px;
}
.top-bar__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px 10px 20px;
  &::after {
    content: "";
    clear: both;
    width: 1px;
    height: 16px;
    background: $ui-02;
  }
}
.top-bar__logo {
  margin-right: $spacing-xs;
  width: 68px;
  .svg-icon {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.top-bar__title {
  color: $text-04;
  margin-right: $spacing-xl;
  @include heading-07;
}

// gnb
.gnb {
  width: 100%;
}
.gnb__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.gnb__item {
  color: $ui-04;
}
.gnb__button {
  padding: 13px 16px;
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  &.gnb__button--active {
    border-bottom: 2px solid $secondary;
  }
  .button__text {
    @include font-weight("bold");
    color: $text-04;
  }
}

// toolbar
.top-bar__toolbar-list {
  display: flex;
  justify-content: flex-end;
}
.top-bar__toolbar-item {
  display: flex;
  align-items: center;
}
.top-bar__toolbar-button {
  background: transparent;
  border: none;
  padding: 10px 16px;
  height: 100%;
  .button__text {
    color: $text-04;
    min-width: 56px;
    padding: 0 $spacing-xs;
  }
  .svg-icon {
    fill: #fff;
  }
}

// button
button {
  cursor: pointer;
}
