// panel Right
.panel-right {
  border-left: 1px solid $ui-04;
  .tab__item--icon {
    padding: 0;
  }
  .tab__button {
    padding: 0 $spacing-xs;
    border: none;
    svg {
      fill: $ui-02;
    }
  }
  .tab__item--selected {
    svg {
      fill: $text-02;
    }
  }
  .panel-body {
    padding: $spacing-sm;
  }
  .panel-container {
    padding-top: $spacing-md;
    &:nth-of-type(1) {
      padding: 0;
    }
  }
  .panel-container__content {
    padding-top: $spacing-sm;
    display: flex;
    justify-content: space-between;
    &:nth-of-type(1) {
      padding-top: 0;
    }
    &:nth-last-of-type(1) {
      padding-bottom: $spacing-md;
    }
  }
  .panel-container__title {
    display: flex;
    justify-content: space-between;
  }
  .panel-container__title-text {
    font-size: 14px;
    display: block;
    color: $text-02;
  }
  .panel-container__border--bottom {
    &::after {
      content: "";
      clear: both;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $ui-04;
      margin: $spacing-2xs 0;
    }
  }
  .panel-container:nth-last-of-type(1) .panel-container__border--bottom::after {
    display: none;
  }
  .panel-container__subtitle {
    min-width: 94px;
    margin-right: 4px;
    color: $text-02;
    @include font-weight("regular");
  }
  .panel-container__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .panel-container__checkbox {
    margin-left: 4px;
  }
  .select {
    flex-shrink: 1;
    width: 100%;
    min-width: 132px;
  }
  .reset {
    display: flex;
    justify-content: flex-end;
  }
  .filter__button {
    width: 100%;
  }
  .axis__button {
    margin-left: 4px;
    border: none;
  }
  .case-sensitive {
    justify-content: flex-start;
    button {
      margin-left: 4px;
      border: none;
    }
  }
}

// remove
.panel-remove--right {
  left: -19px;
}
