.body-main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  .main-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $ui-01;
  }
  .main-bar__icon {
    fill: $text-02;
  }

  // main-bar__title
  .main-bar__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: $spacing-xs $spacing-sm;
    & > * {
      margin-right: $spacing-md;
    }
    & > *:nth-last-of-type(1) {
      margin: 0;
    }
  }
  .main-bar__container {
    display: flex;
    align-items: center;
    & > * {
      margin-right: $spacing-2xs;
    }
    & > *:nth-last-child(1) {
      margin: 0;
    }
  }
  .main-bar__button {
    border: none;
  }

  // tab-bar__meun
  .tab-bar__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $spacing-xs $spacing-sm;
    & > * {
      margin-right: $spacing-2xs;
    }
    & > *:nth-last-of-type(1) {
      margin: 0;
    }
  }
  .tab-bar__item--selected {
    button {
      background-color: $ui-03;
    }
    .tab-bar__icon {
      fill: $text-04;
    }
    &:hover {
      button {
        background-color: $overlay-01;
      }
    }
  }
}
